
<section id="clients">
  <button action="section/browse_clients">Meklēt klientus</button>
  <button action="section/browse_client_groups">Meklēt klientu grupas</button>
</section>

<section id="browse_clients">
  <button action="section/add_clients">Jauns klients</button>
  <form class="search_form" action="search/clients">
    <div class="search_field">
      <label for="search_name">Meklēt klientu:</label>
      <input type="search" id="search_client" name="search">
      <button action="search/clients" class="submit search"><span class="fa fa-search fa-2x"></span></button>
    </div>
  </form>
  <div class="contents"></div>
</section>

<section id="add_clients">
  {{> clients_form action="new" }}
</section>

<section id="edit_clients">
  {{> clients_form action="update" delete=true }}
</section>
