<div class="calculator">
  <button type="button" class="close" action="calculator/close"><div class="fa fa-times"></div></button>
  <div class="status">
    <div class="col_left">
      <input class="amount_input" min="0" step="0.01">
    </div>
    <div class="col_right">
      <div class="amount_due"></div>
      <div class="change"></div>
    </div>


  </div>
  <div class="numpad">
    <div class="row">
      <button type="button" action="calculator/add" data-target="1">1</button>
      <button type="button" action="calculator/add" data-target="2">2</button>
      <button type="button" action="calculator/add" data-target="3">3</button>
    </div>
    <div class="row">
      <button type="button" action="calculator/add" data-target="4">4</button>
      <button type="button" action="calculator/add" data-target="5">5</button>
      <button type="button" action="calculator/add" data-target="6">6</button>
    </div>
    <div class="row">
      <button type="button" action="calculator/add" data-target="7">7</button>
      <button type="button" action="calculator/add" data-target="8">8</button>
      <button type="button" action="calculator/add" data-target="9">9</button>
    </div>
    <div class="row">
      <button type="button" action="calculator/add" data-target="00">00</button>
      <button type="button" action="calculator/add" data-target="0">0</button>
      <button type="button" action="calculator/add" data-target=".">.</button>
    </div>
  </div>
  <div class="large_numbers">
    <div class="row">
      <button type="button" action="calculator/overwrite" data-target="10">10</button>
    </div>
    <div class="row">
      <button type="button" action="calculator/overwrite" data-target="20">20</button>
    </div>
    <div class="row">
      <button type="button" action="calculator/overwrite" data-target="50">50</button>
    </div>
  </div>
  <div class="actions">
    <div class="row">
      <button type="button" action="calculator/exact">exact</button>
    </div>
    <div class="row">
      <button type="button" action="calculator/backspace">bksp</button>
    </div>
    <div class="row">
      <button type="button" action="calculator/confirm">pay</button>
    </div>
  </div>
  <div class="clear"></div>
</div>
