<div class="notice_wrap">
  <div class="notice"><div class="text"></div></div>
</div>
<nav>
  <div class="left">
    <button action="back"><span class="fa fa-arrow-left fa-5x "></span></button>
    <button action="section/main"><span class="fa fa-home fa-5x"></span></button>
  </div>
  <div class="right">
    <button action="section/new_order" fit><span class="fa fa-shopping-cart fa-5x"></span></button>
  </div>
  <div class="title">title</div>
</nav>
