<section id="new_order">
  <div class="left">
    <div class="contents"></div>
  </div>

  <div class="right">
    <form action="new/bills">
      <div class="client_data"></div>
      <div class="product_list"></div>
      <br>
      <div class="total"><span class="amount"></span> € </div>

      <button action="new/bills" class="submit">Izveidot rēķinu</button>
    </form>
  </div>
</section>
