<section id="browse_discounts">
  <button class="big" action="section/add_discounts">Pievienot Atlaidi</button>
  <div class="contents"></div>
</section>

<section id="add_discounts">
  {{> discounts_form action="new" }}
</section>

<section id="edit_discounts">
  {{> discounts_form action="update" }}
</section>
