<section id="browse_product_groups">
  <button class="big" action="section/add_product_groups">Pievienot produkta grupu</button>
  <div class="contents"></div>
</section>

<section id="add_product_groups">
  {{> product_groups_form action="new" }}
</section>

<section id="edit_product_groups">
  {{> product_groups_form action="update" }}
</section>
