<section id="products">
  <button action="section/browse_products">Meklēt produktus</button>
  <button action="section/browse_product_groups">Meklēt produkta grupu</button>
</section>

<section id="browse_products">
  <button action="section/add_products">Jauns produktu</button>
  <form class="search_form" action="search/products">
    <div class="search_field">
      <label for="search_name">Meklēt produktus:</label>
      <input type="search" id="search_product" name="search">
      <button action="search/products" class="submit"><span class="fa fa-check-circle-o fa-4x"></span></button>
    </div>
  </form>
  <div class="contents"></div>
</section>

<section id="add_products">
  {{> products_form action="new" }}
</section>

<section id="edit_products">
  {{> products_form action="update" }}
</section>
