<section id="browse_client_groups">
  <button action="section/add_client_groups">Pievienot grupu</button>
  <div class="contents"></div>
</section>

<section id="add_client_groups">
  {{> client_groups_form action="new" }}
</section>

<section id="edit_client_groups">
  {{> client_groups_form action="update" delete=true }}
</section>
