 * {
     -webkit-tap-highlight-color: transparent;/*just in case*/
    }
html,body
{
    background-color:#9575CD; /*deep purple 300*/
}
body {

      -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
      -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
      -webkit-client-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

      font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
        margin: 0;

}

.fa{
  color:rgba(0,0,0,0.69);
}

section
{
  margin-top: 100px;
  display: none;
  width:100%;
  height:100%;
  text-align: center;
}
button
{
  outline:none;
  cursor:pointer;
  background-color: transparent;
  border: 0;
}

section > button
{
  border:none;
  background-color: rgba(255,255,255,0.2);
  margin:10px;
  height:100px;
  width:100px;
}
button.big
{
  width:300px;
  height:80px;
  font-size:18px;
}
#main
{
  margin-top:100px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}


#products,
#settings,
#clients,
#reports
{
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
}

/*navigation*/

nav{
  z-index:99;
/*  background-color:#48646C; */
background-color:#673AB7; /*deep purple 500*/
  position:fixed;
  width:100%;
  top:0;
  left:0;
  height: 75px;
  box-shadow: 0px 6px 9px 1px rgba(0,0,0,0.34);
}
.notice
{
  background-color: #c8293f;
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  height: 75px;
  -webkit-transition: top 0.1s ease-in-out 0s;
  transition: top 0.1s ease-in-out 0s;
  font-size: 50px;
  text-align: center;
  line-height: 75px;
}
.show_notice .notice
{
  top: 150%;
}
nav .left
{
  position: absolute;
  top: 0;
  left:0;
  z-index:2;
}
nav .right
{
  position: absolute;
  top: 0;
  right:0;
  z-index:2;
}
nav button
{
  height:75px;
  width:75px;
}
nav button span
{
  color: black;
}
.title
{
  overflow: hidden;
  font-size: 50px;
  text-align: center;
  line-height: 75px;
  position: relative;
  background-color: inherit;
  z-index:1;
}


/*TextFields*/
#add_clients,
#add_client_groups,
#browse_groups,
#add_products,
#add_product_groups,
#edit_client_groups,
#edit_product_groups,
#edit_products,
#edit_clients
{
  width:45%;
  margin-left:auto;
  margin-right:auto;
}
#new_client_form{
  margin:0;
  padding:0;
  padding-top:30px;
  width:100%;
}

#browse_products input{
  width:45%;

}
#browse_clients{
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
#search_client{ /*optimizēt šeit un augstāk*/
  width:45%;
}
#search_product{
  width:45%;
  font-size:16px;
  padding:10px;
}


label,
input,
select
{
  display:block;
  margin-left:auto;
  margin-right:auto;

}

input{
  font-size:18px;
  padding:10px;
  width:70%;
  margin-bottom:30px;
}
label{
  width:70%;
  margin-bottom:8px;
  font-size:20px;
}
select{
  font-size:20px;
  padding:10px;
  width:80%;
  margin-bottom:30px;
}

textarea{
  height:100px;
  width:70%;
  resize:vertical;
  margin-left:auto;
  margin-right:auto;
}

.contents{
  border:none;
  background-color: rgba(255,255,255,0.2);

  width:45%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:25px;t
}

.contents > ul{
  list-style:none;
  padding:0;
}

.contents > ul > li{
  padding-left:4%;
}
.contents > ul > li > button{
  margin-bottom:10px;
  border:none;
  background-color: rgba(255,255,255,0.2);

  background:transparent;
  height:81px;
  width:20%;
  font-size:16px;
}

.contents > ul > li > span {
  margin-bottom:10px;
  border:solid 3px black;
  background-color: rgba(255,255,255,0.6);

  height:75px;
  width:70%;
  float:left;
  line-height:75px;
}
/* Order */


#new_order{
  background-color:#9575CD;
  padding-top:70px;
  height:100%;
  margin-top:-13px;
  width:100%;
}

#new_order .contents{
  margin-bottom:-10px;
  border-left:none;
  border-top:none;
  border-bottom:none;
  border-radius:0px;
 width:100%;
}

#new_order .left {
  background-color:#B39DDB; /* deep purple 200 */
  border-left:none;
  border-top:none;
  float:left;
  width:60%;
  height:100vh;
}
#new_order .right{
  margin-top:60px;
  background-color:#9575CD;
}
#new_order .right{
  float:left;
  width:40%;
}

#new_order .left .contents ul {
  margin-top:40px;
}

#new_order .left .contents ul li >button{
  background-color:#625175;
  width:20%;
  margin-right:5%;
  float:left;
  margin-bottom:20px;
  box-shadow: 0px 5px 4px 1px rgba(0,0,0,0.20);
}
}

#new_order .right .product_list{
  padding-top:30px;
}
#new_order .right .total{
  background-color:#673AB7;
  border:none;
  font-size:50px;
  margin-top:15px;
  box-shadow:0px 6px 9px 1px rgba(0,0,0,0.39);

}

#new_order .right .product_list .purchase_item{
  background-color:#5C6BC0;
  border:none;
  margin-bottom:10px;
  height:50px;
  line-height:50px;
  box-shadow:0px 6px 9px 1px rgba(0,0,0,0.39);
}
}

#new_order .right .product_list .purchase_item span{
  height:100%;
  width:100%;
}

#new_order .right > form > button{
  margin-top:20px;
  border:none;
  font-size:16px;
  background-color:#625175;
  height:80px;
  width:40%;
  box-shadow:0px 6px 9px 1px rgba(0,0,0,0.30);
}

.left .contents ul{
  background-color:inherit;
}
