 * {
     -webkit-tap-highlight-color: transparent;/*just in case*/
    }
html,body
{
    background-color:#ff6c40;
}
body {

      -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
      -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
      -webkit-client-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

      font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
        margin: 0;
}

section
{
  margin-top: 100px;
  display: none;
  width:100%;
  height:100%;
  text-align: center;
}
button
{
  outline:none;
  cursor:pointer;
  background-color: transparent;
  border: 0;
}

section > button
{
  border:solid 3px black;
  background-color: rgba(255,255,255,0.2);
  border-radius: 7px;
  margin:10px;
  height:100px;
  width:100px;
}
button.big
{
  width:300px;
  height:80px;
  font-size:18px;
  font-weight:bold;
}
#main
{
  display:block;
  margin-left:auto;
  margin-right:auto;
}


#products,
#settings,
#clients,
#reports
{
  margin-left:auto;
  margin-right:auto;
}

/*navigation*/

nav{
  background-color:#7e0032;
  position:fixed;
  width:100%;
  top:0;
  left:0;
  height: 75px;
}
.notice
{
  background-color: #c8293f;
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  height: 75px;
  -webkit-transition: top 0.1s ease-in-out 0s;
  transition: top 0.1s ease-in-out 0s;
  font-size: 50px;
  text-align: center;
  line-height: 75px;
}
.show_notice .notice
{
  top: 150%;
}
nav .left
{
  position: absolute;
  top: 0;
  left:0;
  z-index:2;
}
nav .right
{
  position: absolute;
  top: 0;
  right:0;
  z-index:2;
}
nav button
{
  height:75px;
  width:75px;
}
nav button span
{
  color: black;
}
.title
{
  overflow: hidden;
  font-size: 50px;
  text-align: center;
  line-height: 75px;
  position: relative;
  background-color: inherit;
  z-index:1;
}


/*TextFields*/
#add_client,
#add_group,
#browse_clients,
#browse_groups,
#add_product,
#browse_products,
#add_product_group,
#browse_product_group
{
  width:45%;
  margin-left:auto;
  margin-right:auto;
}
#new_client_form{
  margin:0;
  padding:0;
  padding-top:30px;
  width:100%;
}


label,
input,
select
{
  display:block;
  margin-left:auto;
  margin-right:auto;

}

input{
  font-size:18px;
  padding:10px;
  width:70%;
  margin-bottom:30px;
}
label{
  width:70%;
  margin-bottom:8px;
  font-size:20px;
}
select{
  font-size:20px;
  padding:10px;
  width:80%;
  margin-bottom:30px;
}

#new_client_btn,
#new_product_btn,
#new_client_group_btn,
#new_product_group_btn,
#new_client_group_btn
{
  float:right;
  margin-right:50px;
}

textarea{
  height:100px;
  width:70%;
  resize:vertical;
  margin-left:auto;
  margin-right:auto;
}
