 * {
     -webkit-tap-highlight-color: transparent;/*just in case*/
    }
html
{
  background-color: gray;
  background-image: url('../img/mints_bg.png');
  background-size: cover;
  background-position: center;
}
body {

      -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
      -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
      -webkit-client-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

      font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
        margin: 0;

}


section
{
  margin-top: 100px;
  display: none;
  width:100%;
  height:100%;
  text-align: center;
}
.clear
{
  clear: both!important;
  margin: 0!important;
  padding: 0!important;
}
button
{
  outline:none;
  cursor:pointer;
  background-color: transparent;
  border: 0;
}

section > button
{
  margin:10px;
  background-color: white;
  border-radius: 100%;
  font-size: 16px;
  height: 150px;
  width: 150px;
  vertical-align: top;
}
.btn_group
{
  width: 50%;
  margin: 0 auto;
}
button.delete,
button.submit
{
  margin:10px;
  background-color: white;
  border-radius: 100%;
  font-size: 16px;
  height: 100px;
  width: 100px;
  vertical-align: top;
}
button.delete
{
  float: right;
}
button.submit
{
  float: left;
}
button.pay
{
  float: none;
}
button.search
{
  height: 60px;
  width: 60px;
  margin-top: -5px;
  float: none;
}
.search_form input,
.search_form label,
.search_form button
{
  display: inline-block;
}
#main
{
  margin-top:100px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}


#products,
#settings,
#clients,
#reports
{
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
}


/*TextFields*/
input
{
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  color: white;
}

select{
  width:50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  color: white;
}

#new_client_form{
  margin:0;
  padding:0;
  padding-top:30px;
  width:100%;
}
.search_form,
.search_field
{
  display: inline-block;
}

label,
input,
select
{
  display:block;
  margin-left:auto;
  margin-right:auto;

}

input{
  font-size:18px;
  padding:10px;
  margin-bottom:30px;
}
label{
  width:70%;
  margin-bottom:8px;
  font-size:20px;
  color: white;
}
select{
  font-size:20px;
  padding:10px;
  margin-bottom:30px;
}

textarea{
  height:100px;
  width:35%;
  resize:vertical;
  margin-left:auto;
  margin-right:auto;
  font-size:20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  color: white;
}

.contents{
  border:none;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:25px;
}

.contents > ul{
  list-style:none;
  padding:0;
  padding-top:10px;
}

.contents > ul > li{
  border:none;
  display: inline-block;
}
.contents > ul > li > button
{
  margin:10px;
  background-color: white;
  border-radius: 100% 100% 0 100%;
  font-size: 16px;
  height: 100px;
  width: 100px;
  vertical-align: top;
  position: relative;
}
ul li >button .price
{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  color: #F26101;
  padding: 1px 5px;
}
ul li >button .color_label
{
  position: absolute;
  top: -5px;
  right: -5px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
}
ul li >button.color3 .color_label
{
  background-color:#218559;
}
ul li >button.color5 .color_label
{
  background-color:#06A2CB;
}
ul li >button.color7 .color_label
{
  background-color:#DD1E2F;
}

.contents > ul > li > span {
  margin-bottom:10px;
  background-color: rgba(255,255,255,0.6);

  height:75px;
  width:70%;
  float:left;
  line-height:75px;
}

#camera_image{
  width:150px;
  visibility:hidden;
  display:none;
}

#main .open_bills button
{
  border-radius: 100% 100% 0;
  font-size: 16px;
  height: 100px;
  width: 100px;
  background-color: white;
  position: relative;
  margin: 10px;
}
#main .open_bills button .price
{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  color: #F26101;
  padding: 1px 5px;
}
input[name="card_id"]
{
}

.calculator
{
  display: none;
  background-color: gray;
  border-radius: 10px;
  box-sizing: border-box;
  left: 50%;
  margin-left: -300px;
  padding: 30px 25px;
  position: fixed;
  top: 50px;
  width: 620px;
  z-index: 99;
}
.calculator .close
{
  background-color: black;
  border: 0 none;
  border-radius: 100%;
  color: white;
  font-size: 24px;
  height: 40px;
  padding: 0;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
}
.calculator .status
{
  width: 100%;
}

.calculator button
{
  border: 3px solid;
  border-radius: 10px;
  font-size: 38px;
  margin-bottom: 10px;
  padding: 10px 0;
  width: 100px;
}
.calculator .actions button
{
  padding: 25px 0;
  width: 120px;
}

.calculator > div
{
  float: left;
  margin-left: 20px;
}
.calculator .numpad,
.calculator .status
{
  margin-left: 0;
}
.calculator .status .col_left
{
  float: left;
}
.calculator .status .col_right
{
  float: right;
}
