#new_order{
  background-color:#9575CD;
  height:100%;
  width:100%;
}

#new_order .contents{
  margin-bottom:-10px;
  border-left:none;
  border-top:none;
  border-bottom:none;
  border-radius:0px;
 width:100%;
}

#shop_back{
  margin-top:10px;
  float:left;
}

.shop_client_name{
  font-weight:bold;
  font-size:20px;
}

#client_facecontrol{
  margin-top:5px;
}

.discount{
  margin-right:10px;
}
